@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    var today = new Date();
    <p class="lead">DB access has already been acomplished on <span id='date-time'></span> by Hardip Patel</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <script>
var dt = new Date();
document.getElementById('date-time').innerHTML=dt;
</script>
</div>